html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("./Imagens/cachorro_e_gato_no_quintal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(0, 255, 150);
    text-align: center;
    text-shadow: 1px 2px 0px black;
    margin-bottom: 20px;
}

.caixa-formulario {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 320px;
    text-align: center;
}

.caixa-formulario label {
    color: #333;
    font-weight: bold;
    font-size: 15px;
    display: block;
    text-align: left;
    margin-top: 12px;
}

.caixa-formulario input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

input::placeholder {
    color: #888;
    font-style: italic;
}

.caixa-formulario button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 18px;
    font-size: 15px;
    transition: 0.2s;
}

.caixa-formulario button:hover {
    background-color: rgb(0, 255, 150);
    transform: scale(1.03);
}

#mensagem {
    font-weight: bold;
    margin-top: 12px;
    text-align: center;
}

footer {
    margin-top: 15px;
    font-size: 12px;
    color: rgb(53, 50, 50);
    text-shadow: 0 0 4px black;
    text-align: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(2px);
    z-index: -1;
}

/* RESPONSIVIDADE */
@media (max-width: 480px) {
    body {
        padding: 20px;
        background-attachment: scroll; /* evita bug no mobile */
    }

    .caixa-formulario {
        padding: 20px;
        max-width: 95%;
    }

    h1 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .caixa-formulario label {
        font-size: 14px;
    }

    .caixa-formulario input,
    .caixa-formulario button {
        font-size: 14px;
        padding: 10px;
    }

    footer {
        font-size: 11px;
    }
}
