body {
    background-color: rgb(0, 255, 150);
    margin: 0;
    font-family: Arial, sans-serif;
}

.topo {
    background-color: white;
    padding: 20px 30px;
    width: 900px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    font-size: 28px;
    margin: 0;
}

.btn-voltar {
    background-color: rgb(255, 150, 150);
    border: 2px solid red;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
}

.btn-voltar:hover {
    background-color: rgb(255, 100, 100);
}

.conteudo-branco {
    background-color: white;
    padding: 20px 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 900px;
    margin: 20px auto;
}

.filtros {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.filtros label {
    font-weight: bold;
}

.filtros input,
.filtros select {
    padding: 6px;
    font-size: 14px;
}

.btn {
    background-color: white;
    border: 2px solid black;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
}

.btn:hover {
    background-color: rgb(0, 255, 150);
}

.lista {
    margin-top: 10px;
}

.pet-card {
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid black;
}